#penz{
    width: 100px;
    border-bottom: 3px solid black;
    float: right;
}

#tet {
   float: right; 
}

#gombok {
    
}

.sor {
    display: flex;
    flex-direction: row;
}

#lapertek {
    display: flex;
    justify-content: center;
}

#sajatertek {
    height: 50px;
    width: 100px;
    margin-right: 10px;
    padding: 2px;
    background-color: gray;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#osztoertek {
    height: 50px;
    width: 100px;
    margin-right: 10px;
    padding: 2px;
    background-color: gray;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}