#penz {
    width: 100px;
    border-bottom: 3px solid black;
    float: right;
}

#kartyak {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#gombok {
    font-family: 'Courier New', Courier, monospace;
}

.sor {
    display: flex;
    flex-direction: row;
}

#sajatertek {
    height: 50px;
    width: 100px;
    margin-top: 30px;
    padding: 2px;
    background-color: gray;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#osztoertek {
    height: 50px;
    width: 100px;
    margin-top: 30px;
    padding: 2px;
    background-color: gray;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}