*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #A9A9A9;
}

header {
    background-color: #9E0303;
}

#logo {
    height: 75px;
    margin: 5px;
}

.navbar {
    display: flex;
    list-style-type: none;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar li {
    margin: 30px 10px;
    font-size: 25px;
}

.navbar li a {
    text-decoration: none;
    color: #000;
}

article {
    margin: 45px;
    padding: 30px;
    background-color: #006400;

}

#kezdolap {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

#jatekmenet {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: justify;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
}